@charset "utf-8";

.bx-wrapper {
		    -moz-box-shadow:0 none;
		    -webkit-box-shadow: 0 none;
		    box-shadow: 0 none;
		    border: 0 none;
			margin-bottom: 0;
		}
/*nav*/
nav#navTop{
			position: fixed;z-index: 1;
			width: 100%;
			
			_padding-left:1510px;
			height: 50px;
			/*background-color: #fff;*/

		}
nav#navTop ul#topMenu{
	float: right;
	padding-right: 47px;
	
}	



nav#navTop li{float: left;}
nav#navTop li a{
	display: block;
	line-height: 50px;
	text-align: center;
	padding: 0 10px;
	
}

nav#navTop li a.Color{
	color:white;
}


/*.active{background-color: skyblue;}*/


/*page*/
.page{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/*page1*/
#page1{
	_background-image: url(../images/shadow.png);
	position: relative;
	background-size:initial;
}
#page1 h1{
	position: absolute;
	top: 15px;left: 120px;
	z-index: 10;
}

#page1 h1>img{display: block;width: 200px;height:80px;padding-bottom: 10px;}

.blind.blackBox{
	width: 100%;height: 100%;background-color: rgba(0,0,0,0.9);
	position: absolute;top: 0;z-index:1
   
}

div.image{
	
	position: relative;
	left: 50%;
	top: 20px;
	margin-left: -900px;
	width: 1800px;
	height: 800px;
	background-image: url(../images/shadow.png);
	background-repeat: no-repeat;
	background-size: cover;
}


.image .img01{
	width:760px;
	height: 640px;
	position: absolute;
	top: 18%;
    right:-999px;
	z-index:1;
	transition:0.5s;
	transition-duration: 0.9s;
	opacity: 0;
}
.image .img02{
	width:600px;
	height: 630px;
	position: absolute;
    left: -999px;
    z-index: 1;
    transition:1.4s;
    opacity: 0;
}

.image .img03{
	width:300px;
	height: 720px;
	position: absolute;
	top: 5%;
	left: -999px;
    z-index: 1;
    transition:1.8s;
    opacity: 0;
}


.image.img img.img01{

	top:18%;
	right:3%;
	opacity: 1;

}
.image.img img.img02{

	top: 17%;
	left: 22%;
	opacity: 1;

}
.image.img img.img03{

	top: 5%;
	left: 7%;
	opacity: 1;

}

.talk{
    position: absolute;
    top: 15px; 
    width: 500px;
    height: 40px;
    left: 50%;
    margin-left: -250px;
}

.talk a{
    color: white;
    display: block;
    background-color: red;
    width: 500px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    opacity: 0;
}
.talk.tk a{
    color: white;
    display: block;
    background-color: red;
    width: 500px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
  	transition: 2s;
    opacity: 1;
}

.pWrap{position: absolute;width: 100%;height: 100%;z-index: 1}

.pWrap .shoes{
	display: block;
	position: absolute;
	top: 135px;
	right: -999px;
	width: 200px;height: 50px;
	border: 3px solid #fff;
	border-radius: 150px;
	line-height: 44px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color:white;
	background-color: rgba(0,0,0,0.6);
	transition:0.5s;
	transition-duration: 0.7s;
	opacity: 0;

}
.pWrap .clothes{
	display: block;
	position: absolute;
	top: 120px;
	left: -999px;
	width: 200px;height: 50px;
	border: 3px solid #000;
	border-radius: 150px;
	line-height: 44px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color:white;
	background-color: rgba(0,0,0,0.6);
	transition:1.4s;
    opacity: 0;

}
.pWrap .bag{
	display: block;
	position: absolute;
	left: -999px;
	top: 110px;
	width: 200px;height: 50px;
	border: 3px solid #000;
	border-radius: 150px;
	line-height: 44px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color:white;
	background-color: rgba(0,0,0,0.6);
	transition:1.8s;
    opacity: 0;
}



.pWrap.pWrap01 .shoes{
	display: block;
	position: absolute;
	top: 125px;
	right: 150px;
	width: 200px;height: 50px;
	border: 2px solid #000;
	border-radius: 150px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color:white;
	opacity: 1;

}



.pWrap.pWrap01 .clothes{
	display: block;
	position: absolute;
	top: 120px;
	left: 750px;
	width: 200px;height: 50px;
	border: 2px solid #000;
	border-radius: 150px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color:white;
	opacity: 1;

}
.pWrap.pWrap01 .bag{
	display: block;
	position: absolute;
	left: 300px;
	top: 95px;
	width: 200px;height: 50px;
	border: 2px solid #000;
	border-radius: 150px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color:white;
	opacity: 1;
}

/*.pWrap.pWrap01 .shoes:hover{background-color: #000;}
.pWrap.pWrap01 .clothes:hover{background-color: #000;}
.pWrap.pWrap01 .bag:hover{background-color: #000;}*/

.pWrap.pWrap01 a:hover{background-color: #000;transition: 0.2s}

/*page2*/
#page2{background-color: black;position: relative;}
/*#page2 .imgWrap{
	position: absolute;
	top: 88px;
	background-color: orange;
}
#page2 .bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 88px;
	background-color: rgba(0,0,0,0.5);
	z-index: 5;
	display: none;
}

#page2 .imgWrap{width: 100%;height: 100%;}

#page2 .imgWrap .page2_img{
    float: left;width: 25%;
}
#page2 .imgWrap .page2_img img{display: block;height:800px;_width: 100%}


#page2 .page2_img:hover img:first-child {
    transform:scale(1.1);
    transition: 0.3s;
}*/

.flexWrap{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid #000;
}
.flexWrap .flexbox:nth-child(1) {
    background: url(../images/fullpage_img02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%);
}

.flexWrap .flexbox:nth-child(2) {
    background: url(../images/fullpage_img03.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%);
}
.flexWrap .flexbox:nth-child(3) {
    background: url(../images/fullpage_img04.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%);
}
.flexWrap .flexbox:nth-child(4) {
    background: url(../images/fullpage_img05.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%);
}
.flexWrap .flexbox {
    position: relative;
    height: 100%;
    flex: 1;
    border-right: 2px solid #000;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.flexWrap .flexbox:hover{
	flex: 2;
	filter: none;
}
/*#page3*/
#page3{background-color:black;position: relative;}
#page3 .bgi img{
	width: 1800px;height: 800px;
	position: absolute;
	left: 50%;
	margin-left: -900px;
	top: 50%;
	margin-top: -400px;
}
#page3 img{display: block;width: 100%;height: 100%;}
#page3 .bg{width: 100%;height: 100%;background-color:rgba(0,0,0,.5);position: absolute;top:0;}
#page3 video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#page3 .text01{
	position: absolute;
	top: 100px;
	width: 800px;
	height: 150px;
	left: 50%;
	margin-left: -400px;
	z-index: 3;
	/*background-color: orange;*/
	text-align: center;
	border-bottom: 2px solid #fff;
}
#page3 .text01 h3 {
	color: white;
	font-size: 60px;
	letter-spacing: 5px;
}
#page3 .text01 p {
	color: white;
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 5px;
}

#page3 .text02{
	position: absolute;
	top: 270px;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	color:white;
	text-align: center;
}

#page3 .text02 p{
	letter-spacing: 5px;
	font-size: 18px;
	font-weight: 800;
}

#page3 .text03{
	position: absolute;
	top: 380px;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	/*background-color: red;*/
}

#page3 .text03 p:nth-child(1){
	width: 200px;
	height: 30px;
	border: 1px solid #fff;
	background-color:rgba(0,0,0,0.5);
	color:white;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}
#page3 .text03 p:nth-child(2){
	color:white;
	font-size: 20px;
}

#page3 .text04{
	position: absolute;
	top: 470px;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	/*background-color: orange;*/

}
#page3 .text04 p:nth-child(1){
	width: 200px;
	height: 30px;
	border: 1px solid #fff;
	background-color:rgba(0,0,0,0.5);
	color:white;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}
#page3 .text04 p:nth-child(2){color:white;font-size: 20px;}
/*#page3 .text04 p:nth-child(3){}*/

#page3 .text05{
	position: absolute;
	top: 640px;
	width: 300px;
	height: 50px;
	left: 50%;
	margin-left: -150px;
	

}
#page3 .text05 a{
	display: block;
	border: 1px solid #fff;
	text-align: center;
	color:white;
	background-color: rgba(0,0,0,0.5);
	line-height: 50px;
	border-radius: 20px;
	transition: .3s;

}
#page3 .text05 a:hover{background-color: #fff;color:black;font-weight: bold;}


.main{
	width: 400px;
	position: absolute;
	left: 50%;
	color:white;
	transform: translate(-50%,-50%);
	text-align: center;
}
.main h3{font-size: 3em;}
.main p{font-size: 1.5em;margin-bottom: 20px;}
.main a{
	display: block;text-align: center;
	width: 150px;
	border: 1px solid #fff;
	line-height: 35px;
	color:white;
	border-radius: 7px;
	margin: auto;
	transition: 0.3s;
}
.main a:hover{background-color: #fff;color: black;}

.main00{
	width: 600px;
	position: absolute;
	left: 50%;
	color:white;
	transform: translate(-50%,-50%);
	text-align: center;
    z-index: 4
}
.main00 h3{font-size: 3em;margin-bottom: 15px;}
.main00 p{font-size: 1.2em;margin-bottom: 20px;letter-spacing: 4px}
.main00 a{
	display: block;text-align: center;
	width: 260px;
	border: 1px solid #fff;
	line-height: 35px;
	color:white;
	border-radius: 7px;
	margin: auto;
	transition: 0.3s;
	font-size: 1.2em

}
.main00 a:hover{background-color: #fff;color: black;}


#onView{top: 20%;transition: 0.3s;opacity: 0;}
#onView.move{top: 50%;opacity: 1;}

#onView01{left: 20%;transition: 0.3s;opacity: 0;}
#onView01.move01{left: 50%;opacity: 1;}

#onView00{top: 0%;transition: 0.3s;opacity: 0;z-index: 1}
#onView00.move00{top: 50%;opacity: 1;z-index: 2}

.scroll{
	position: absolute;
	bottom: 600px;left: 50%;
	transform: translateX(-50%);
	animation-name: xScroll;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	z-index: 3;
}

@keyframes xScroll{
	from{bottom: 100px;}
	to{bottom: 80px;}
}

.scroll01{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	animation-name: xScrolltwo;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes xScrolltwo{
	from{bottom: 50px;}
	to{bottom: 30px;}
}

/*#page4*/
#page4{
	background-image: url(../images/fire.png);
	background-repeat: no-repeat;
	background-size: cover;
}




#myVideo{
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black;
	background-position: center center;
	object-fit: cover;
	z-index: 3;
}

.slide{position: relative;}
.slide .sView1,
.slide .sView2,
.slide .sView3,
.slide .sView4{position: absolute;width: 500px;height: 500px;background-color: #f00;
	left: 50%;right: 50%;transform: translate(-50%,-50%);}

	







#fp-nav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
#fp-nav .fp-slidesNav ul li:hover a.active span {
    height: 30px !important;
    width: 100px !important;
    /*margin: -6px 0 0 -6px  !important;*/
    border-radius: 50px !important;
    transition:0.3s !important;
    transform: translateY(-10px);
    line-height: 30px !important;
}

#fp-nav ul li{padding-top: 10px;padding-bottom:30px;height: 60px;_margin-bottom:10px;}

