@charset "utf-8";


nav#navTop{
			position: fixed;z-index: 1;
			width: 100%;
			background-color:rgba(0,0,0,0.3);
			padding-left: 10px;
		}
nav#navTop li{float: left;}
nav#navTop li a{
	display: block;
	line-height: 50px;
	text-align: center;
	padding: 0 10px;
}
#page1{background-image: url(../images/fullpage_img01.jpg);}
#page2{background-color: black;}
#page2 img{display: block;height: 969px;}
#page2 .img img{float: left;width:25%;}
#page3{background-color:white;}
#page3 video{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#page4{background-color: white;}
#page4 img{width: 100%;
/*	background-image: url(../images/fullpage_img07.png);*/
}
#page5{background-image: url(../images/fullpage_img06.png);}

.page{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.active{background-color: skyblue;}