@charset "utf-8";


nav#navTop{
			position: fixed;z-index: 1;
			width: 100%;
			background-color:rgba(0,0,0,0.3);
			padding-left: 10px;
		}
nav#navTop li{float: left;}
nav#navTop li a{
	display: block;
	line-height: 50px;
	text-align: center;
	padding: 0 10px;
}
#page1{background-color: #000;}
/*#page1{background-image: url(../images/fullpage_img01.jpg);}
*/#page2{background-color: black;}
/*#page2 img{display: block;height: 969px;}*/
/*#page2 .img img{float: left;width:25%;}*/
#page3{background-color:black;}
/*#page3 video{*/
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;

#page4{background-color: black;}
/*#page4 img{width: 100%;*/
/*	background-image: url(../images/fullpage_img07.png);*/

/*#page5{background-image: url(../images/fullpage_img06.png);}
*/
#page5{background-color: #000;}
.page{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.active{background-color: skyblue;}
.main{
	width: 400px;
	position: absolute;
	left: 50%;
	color:white;
	transform: translate(-50%,-50%);
	text-align: center;
}
.main h3{font-size: 3em;}
.main p{font-size: 1.5em;margin-bottom: 20px;}
.main a{
	display: block;text-align: center;
	width: 150px;
	border: 1px solid #fff;
	line-height: 35px;
	color:white;
	border-radius: 7px;
	margin: auto;
	transition: 0.3s;
}
.main a:hover{background-color: #fff;color: black;}
#onView{top: 20%;transition: 0.3s;opacity: 0;}
#onView.move{top: 50%;opacity: 1;}

#onView01{left: 20%;transition: 0.3s;opacity: 0;}
#onView01.move01{left: 50%;opacity: 1;}

.scroll{
	position: absolute;bottom: 20px;left: 50%;transform: translateX(-50%);
	animation-name: xScroll;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes xScroll{
	from{bottom: 20px;}
	to{bottom: 40px;}
}